



<nav class="navbar navbar-light " style="background-color:#adce9d; border-radius: 12px; margin-bottom: 20px;">
    <div class="container-fluid">
        <h1 style="color: black;"> <mat-icon style = "font-size: 30px; margin-right: 10px;  ">person</mat-icon> {{volunteer?.firstname}} {{volunteer?.lastname}}</h1>
    </div>
</nav>

    <ul>


        <li> <span class = "label" >Ime: </span> <span class = "data" >{{volunteer?.firstname}}</span></li>
        <li>  <span class = "label"> Prezime: </span>  <span class = "data" > {{volunteer?.lastname}}</span></li>
        <li> <span class = "label"> OIB: </span>   <span class = "data" >{{volunteer.attributes.oib}}</span></li>
        <li> <span class = "label"> Adresa: </span> <span class = "data" >{{volunteer?.addresses[0].street}}  {{volunteer?.addresses[0].streetNumber}}, {{volunteer?.addresses[0].postcode}} {{volunteer?.addresses[0].city}}</span> </li>
        <li> <span class = "label"> Datum rođenja: </span>  <span class = "data" > {{volunteer?.attributes.date_of_birth}}</span></li>
        <li> <span class = "label"> Mjesto rođenja: </span>  <span class = "data" >{{volunteer?.attributes.place_of_birth}}</span></li>
        <li> <span class = "label"> E-mail: </span>  <span class = "data" >{{volunteer?.email}}</span></li>
        <li> <span class = "label"> Broj: </span>   <span class = "data" >{{volunteer?.phone}}</span></li>
        <li> <span class = "label"> Vještine: </span>  <span class = "data" >{{volunteer?.attributes.skills}}</span></li>
    </ul>
<button type="button" class="btn btn-success" style="background-color:green; border: green;" (click)="openVolunteerEdit(volunteer._id);$event.stopPropagation()">
    <mat-icon>edit</mat-icon>
</button>
<button type="button" class="btn btn-danger" style="background-color:red; border: red;" (click)="openVolunteerDelete(volunteer._id);$event.stopPropagation()">
    <mat-icon>delete</mat-icon>
</button>




