<div class="modal-header">
    <h1 class="modal-title" id="staticBackdropLabel"> Unos volontera</h1>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="createForm">

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Ime*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="firstname">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Prezime*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="lastname">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>OIB*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"  maxlength="11" formControlName="oib">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Datum rođenja*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="date"  formControlName="date_of_birth">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Ulica*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"   formControlName="street">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Ulični broj*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"   formControlName="streetNumber">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Grad*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"   formControlName="city">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Poštanski broj*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"   formControlName="postcode">
            </div>
        </div>


        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Mjesto rođenja*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text"   formControlName="place_of_birth">
            </div>
        </div>



        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Email*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="email" formControlName="email">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Phone*:</label>
            </div>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="phone">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3 d-flex align-items-center">
                <label>Vještine:</label>
            </div>
            <div class="col-9">
                <textarea class="form-control" type="text"  formControlName="skills"></textarea>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button (click)="close()" class="btn btn-primary">Zatvori</button>
    <button [promiseBtn]="promiseBtn" [disabled]="!createForm.valid" (click)="save()" class="btn btn-primary">Spremi</button>
</div>

