

<div class="modal-header">
    <h1 class="modal-title" id="staticBackdropLabel"> Brisanje volontera!</h1>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <p>Jeste li sigurni da želite izbrisati?</p>
    <button (click)="delete_volunteer(volunteer_id)"  class="btn btn-danger">Izbriši</button>
</div>

<div class="modal-footer">
    <button (click)="close()" class="btn btn-primary">Zatvori</button>

</div>


