mat-toolbar {
    background-color: darkred;
    color:lightyellow;

}

.content {
    height: calc(100vh - 98px);
    margin: 16px 16px 16px 30px;



}


mat-sidenav {
    margin: 1%;
    border-right: none;
    background: darkred;
    color: lightyellow;
    width: 200px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;



}

mat-sidenav-container {
    height: calc(100vh - 65px);
}


.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

mat-icon {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: yellow;
    text-decoration: none;
}

