
<mat-toolbar>
    <button mat-icon-button *ngIf = "sidenav.mode === 'over'" (click) ="sidenav.toggle()" >
        <mat-icon *ngIf = "!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf = "sidenav.opened"> </mat-icon>
    </button>
    <a routerLink="volunteers" style = "color:white;">  Evidencija volontera Crvenog Križa Primorsko-goranske županije</a>


</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <h2> Name of User</h2>
        <p> Vrsta korisnika</p>

        <mat-divider> </mat-divider>
        <a routerLink="volunteers" >
        <button mat-button class="menu-button" >
            <mat-icon>person</mat-icon>
            <span> Volonteri </span>

        </button>
        </a>

        <a routerLink="educations">
        <button mat-button class="menu-button">
            <mat-icon>book</mat-icon>
            <span>Edukacije </span>

        </button>
        </a>

        <a routerLink="trainings" >
        <button mat-button class="menu-button">
            <mat-icon>rowing</mat-icon>
            <span> Vježbe </span>
        </button>
        </a>

        <a routerLink="trainings" >
            <button mat-button class="menu-button">
                <mat-icon>directions_run</mat-icon>
                <span> Akcije </span>
            </button>
            </a>

        <mat-divider> </mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>Odjava</span>
        </button>


    </mat-sidenav>

<div class=" content ">
    <router-outlet></router-outlet>

</div>


</mat-sidenav-container>
