<nav class="navbar navbar-light " style="background-color:lightskyblue; ">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Edukacije</h1>
        <div class="d-flex">
            <mat-form-field >
                <input (keyup) = "Filter()" matInput placeholder="Pretraga edukacija" style="position: center;">
            </mat-form-field>
            <button (click)="openEducationWizard()" type="button" class="btn btn-success" style = "background-color: #306dcf; margin-left: 30px;">
                Dodaj edukaciju
            </button>
        </div>
    </div>
</nav>

<div>
    <ngx-datatable
            class="bootstrap fullscreen"
            [rowHeight]="50"
            (activate)='onSelect($event)'
            [rows]="rows">

        <ngx-datatable-column name="Naziv">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.name }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Datum">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.attributes.date }}

            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Vrijeme trajanja">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.attributes.length }}

            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Opis">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.attributes.description }}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Obriši" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <button type="button" class="btn btn-danger" style="background-color:red; border: red;"
                        (click)="openEducationDelete()" >
                    <mat-icon>delete</mat-icon></button>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>