<nav class="navbar navbar-light " style="background-color:#e2bd4f; ">
    <div class="container-fluid">
        <h1 style="color: black;"> <mat-icon style = "font-size: 30px; margin-right: 15px;"> book</mat-icon>Edukacije</h1>
        <div class="d-flex">
            <mat-form-field >
                <input (keyup) = "Filter()" matInput placeholder="Pretraga edukacija" style="position: center; font-size: 17px;">
                <mat-icon matPrefix style = "margin-right: 10px; " >search</mat-icon>
            </mat-form-field>
            <button (click)="openEducationWizard()" type="button" class="btn " style = "background-color: white; margin-left: 15px; border-radius: 10px;">
                Dodaj edukaciju
            </button>
        </div>
    </div>
</nav>

<div>
    <ngx-datatable

            class="material striped"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            (activate)='onSelect($event)'
            [rows]="rows">

        <ngx-datatable-column name="Ime edukacije">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.name }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Datum početka">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.date_from }}

            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Datum završetka">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.date_to }}

            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Lokacija">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.location }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Vrijeme početka">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.start_time }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Maksimum sudionika">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.maximum_participants }}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Uredi" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <!--send "row" as argument to the function openVolunteerDelete()-->
                <button type="button" class="btn btn-success" style="background-color:green; border: green;" (click)="openEducationEdit(row);$event.stopPropagation()">
                    <mat-icon>edit</mat-icon>
                </button>


            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Obriši" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <button type="button" class="btn btn-danger" style="background-color:red; border: red;"
                        (click)="openEducationDelete(row);$event.stopPropagation()" >
                    <mat-icon>delete</mat-icon></button>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>