<nav class="navbar navbar-light " style="background-color:red; ">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Volonteri</h1>
        <div class="d-flex">
            <button (click)="openVolunteerWizard()" type="button" class="btn btn-success">
                Dodaj volontera
            </button>
        </div>
    </div>
</nav>

<div>
    <ngx-datatable
            class="bootstrap fullscreen"
            [rowHeight]="40"
            (activate)='onSelect($event)'
            [rows]="rows">

        <ngx-datatable-column name="Ime">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.firstname }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prezime">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.lastname }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="E-mail">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.email }}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Broj">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.phone }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Obriši" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <button type="button" class="btn btn-danger" style="background-color:red; border: red;"
                 (click)="openVolunteerDelete()" >
                    <mat-icon>delete</mat-icon></button>


            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>




