
<nav class="navbar navbar-light " style="background-color:#adce9d; border-radius: 12px;">
    <div class="container-fluid">
        <h1 style="color: black;"> <mat-icon style = "font-size: 30px; margin-right: 10px;  ">person</mat-icon> Volonteri</h1>
        <div class="d-flex">
            <mat-form-field >
                <input (keyup) = "Filter()" matInput placeholder="Pretraga volontera" style="position: center; font-size: 17px;">
                <mat-icon matPrefix style = "margin-right: 10px; ">search</mat-icon>
            </mat-form-field>
            <button id="dodajvolontera" (click)="openVolunteerWizard()" type="button" class="btn" style = "margin-left: 15px; background-color: white; border-radius: 10px;" >
                Dodaj volontera
            </button>
        </div>
    </div>
</nav>

<div class="tablica">
    <ngx-datatable
            class="material striped"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            (activate)='onSelect($event)'
            [rows]="rows"
    >

        <ngx-datatable-column name="Ime">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.firstname }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Prezime">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.lastname }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="OIB">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.attributes.oib }}
            </ng-template>
        </ngx-datatable-column>




        <ngx-datatable-column name="E-mail">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.email }}
            </ng-template>
        </ngx-datatable-column>




        <ngx-datatable-column name="Broj">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.phone }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Uredi" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <!--send "row" as argument to the function openVolunteerDelete()-->
                <button type="button" class="btn btn-success" style="background-color:green; border: green;" (click)="openVolunteerEdit(row);$event.stopPropagation()">
                    <mat-icon>edit</mat-icon>
                </button>


            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Obriši" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <!--send "row" as argument to the function openVolunteerDelete()-->
                <button type="button" class="btn btn-danger" style="background-color:red; border: red;" (click)="openVolunteerDelete(row);$event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                </button>


            </ng-template>
        </ngx-datatable-column>



    </ngx-datatable>
</div>




