<nav class="navbar navbar-light " style="background-color:#a3d3dd; ">
    <div class="container-fluid">
        <h1 style="color: black;"> <mat-icon style = "font-size: 30px; margin-right: 10px;">rowing</mat-icon> Vježbe</h1>
        <div class="d-flex">
            <mat-form-field >
                <input (keyup) = "Filter()" matInput placeholder= "Pretraga vježbi" style="position: center; font-size: 17px;">
                <mat-icon matPrefix matPrefix style = "margin-right: 10px; ">search</mat-icon>
            </mat-form-field>
            <button (click)="openTrainingWizard()" type="button" class="btn " style="background-color: white; color : black; border-radius: 10px; margin-left: 30px;" >
                Dodaj vježbu
            </button>
        </div>
    </div>
</nav>

<div>
    <ngx-datatable
            class="bootstrap fullscreen"
            [rowHeight]="50"
            (activate)='onSelect($event)'
            [rows]="rows">

        <ngx-datatable-column name="Naziv">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.naziv }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Datum">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.date }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Vrijeme trajanja">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.time }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Opis">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.description }}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Obriši" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"
                         let-row="row">

                <button type="button" class="btn btn-danger" style="background-color:red; border: red;"
                        (click)="openTrainingDelete()" >
                    <mat-icon>delete</mat-icon></button>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>
</div>